
<div class="row">
    <div class="col-2"></div>
    <div class="col-5">
        <h3></h3>
    </div>
    <div class="col-3"></div>
    <div class="col-2"></div>
</div>

<form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <div class="col" id="container" >
                <!-- Items Show Here -->
                <div id="product">
                    <table class="table">
                        <tbody>
                        <tr>
                            <div class="container">
                                <h2>Create New Product</h2>
                                <div class="row">
                                    <div class="col-md-9">
                                        <label for="productName">Product Name</label>
                                        <input type="text" class="form-control" id="productName" [(ngModel)]="product.productName" name="productName">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="productDiscount">Product Discount</label>
                                        <input type="text" class="form-control" id="discount" [(ngModel)]="product.discount" name="discount">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="price">Product Price</label>
                                        <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="quantity">Quantity</label>
                                        <input type="text" class="form-control" id="stockQuantity" [(ngModel)]="product.stockQuantity" name="stockQuantity">
                                    </div>


                                          <!-- Color and Size -->
                                        <div class="col-md-3">
                                            <label for="color">Color</label>
                                            <select class="form-control" id="color" [(ngModel)]="product.color" name="color">
                                                <option>Test</option>
                                                <!-- <option *ngFor="let c of colors" [value]="c.color">{{c.color}}</option> -->
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="size">Size</label>
                                            <select class="form-control" id="size" [(ngModel)]="product.size" name="size">
                                                <option>test</option>
                                                <!-- <option *ngFor="let s of sizes" [value]="s.size">{{s.size}}</option> -->
                                            </select>
                                        </div>


                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Product Image</label>
                                        <input type="file" id="fileInput" class="form-control" id="img" [(ngModel)]="product.img" name="img" accept="image/*" required>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="barcode">Barcode Number</label>
                                        <input type="text" class="form-control" id="barcode" [(ngModel)]="product.barcode" name="barcode">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="description">Product Description</label>
                                        <textarea type="text" class="form-control" id="description" [(ngModel)]="product.description" name="description"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="productNote">NOTE</label>
                                        <textarea class="form-control" id="productNote" [(ngModel)]="product.note" name="productNote"></textarea >
                                    </div>
                                </div>
                                <div class="row">
                                    
                                </div>
                                <button id="checkout" class="btn btn-success" type="submit">Submit</button>
                                <button class="btn btn-default" routerLink="/product">Cancel</button>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-3" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <h2>Product Image</h2>
                    <th colspan="2">
                        <div style="display: none;" id="fileName"></div>
                        <div id="preview"></div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</form>

<div class="row">
    <div class="col-8"></div>
    <div class="col-4"></div>
</div>

<!-- 

<div class="col-md-6 offset-md-3">
    <h2>Create New Product</h2>
    <form (ngSubmit) = "onSubmit()">


        <div class="form-group">
            <label>Size</label>
            <input type="text" class="form-control" id="size" [(ngModel)] = "product.size" name = "size">
        </div>
        <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" id="color" [(ngModel)] = "product.color" name = "color">
        </div>

        <div class="form-group">
            <label>Barcode</label>
            
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div> -->
