.form-control:focus {
    border-color: #333333;
    box-shadow: 0 0 0 0.25rem rgba(214, 52, 132, 0.25); /* Adjust the box shadow color */
}

/* Optional: Remove the blue box shadow on focus */
.form-control:focus:not(:focus-visible) {
    box-shadow: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Light pink background color */
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


nav {
    background-color: #555555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

header{
    margin: auto;
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-family: 'Parisienne',serif;
    color: gold;
    font-size: 50px;
    margin-bottom: 0px;

}

button {
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;

}
button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #cecece;
    padding: 1px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.row, .col{

    border:solid 1px;

    border-top-color:#ffffff;
    border-right-color:#d9d9d9;
    border-bottom-color:#ffffff;

    border-left-color:#ffffff;
    padding: 5px;
}
