
    <header class="header">
        American Boutique
    </header>
    <nav id="nav">
        <a routerLink="product" routerLinkActive="active" >Product List</a>
        <a routerLink="create-product" routerLinkActive="active" >Add Product</a>
    </nav>
    <br>

    <p class="text-center">{{title}}</p>
    

        <router-outlet></router-outlet>


    <footer class="footer">
        <div class="container">
            <span>All Rights Reserved 2024 - Abubaker Ashaipi</span>
        </div>
    </footer>